@import "bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    min-height: 100vh;
    font-family: arial, helvetica, sans-serif;
    color:rgb(0, 0, 0);
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.title{
    font-size: 5.5rem;
    font-weight: bold;
}

.image {
    width: 180px;
    box-shadow: 0 10px 25px;
}

.excusa{
    font-size: 1.6rem;
    background: grey;
}